<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Clientes</title>
</head>
<body>
<h1>Lista de Clientes</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.phone}"></td>
        <td>
            <a th:href="@{'/customers/edit/' + ${customer.id}}">Editar</a>
            <a th:href="@{'/customers/delete/' + ${customer.id}}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/customers/add">Adicionar Novo Cliente</a>
</body>
</html>
